{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
    <div class="container">
        {% block layout_footer_navigation %}
            <div id="footerColumns"
                 class="row footer-columns"
                 data-collapse-footer="true"
                 role="list">
                {% block layout_footer_navigation_location %}
                    <div class="col-md-4 footer-column-location text-center">
                        <div class="row">
                            <div class="footer-details">
                                <img src="{{ asset('bundles/kohlkramer2022/footerImages/Location.png', 'asset') }}">
                            </div>
                            <div class="footer-details">
                                <p>{{ "general.footer.location.title"|trans }}<br>
                                    {{ "general.footer.location.title1"|trans }}<br>
                                    {{ "general.footer.location.title3"|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endblock %}
                {% block layout_footer1_navigation_clock %}
                    <div class="col-md-4 footer-column-clock text-center">
                        <div class="row">
                            <div class="footer-details">
                                <img src="{{ asset('bundles/kohlkramer2022/footerImages/Time.png', 'asset') }}">
                            </div>
                            <div class="footer-details">
                                <p>
                                    {{ "general.footer.clock.title"|trans }}<br>
                                    {{ "general.footer.clock.title1"|trans }}<br>
                                    {{ "general.footer.clock.title2"|trans }}<br>
                                    {{ "general.footer.clock.title3"|trans }}

                                </p>
                            </div>
                        </div>
                    </div>
                {% endblock %}
                {% block layout_footer1_navigation_knife %}
                <div class="col-md-4 footer-column-knife text-center">
                    <div class="row">
                        <div class="footer-details">
                            <img src="{{ asset('bundles/kohlkramer2022/footerImages/iconT.png', 'asset') }}">
                            <p>{{ "general.footer.offers.title"|trans }}<br>
                                {{ "general.footer.offers.title1"|trans }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </div>
            <div id="secondFooterColumns"
                 class="row justify-content-md-center second-footer-columns"
                 data-collapse-footer="true"
                 role="list">
                {% block layout_footer2_navigation_location %}
                    <div class="col-md-8 footer-column-contact text-center">
                        <div class="row">
                            <div class="footer-details">
                                <img src="{{ asset('bundles/kohlkramer2022/footerImages/Phone.png', 'asset') }}">
                            </div>
                            <div class="footer-details">
                                <p>{{ "general.footer.contact.title"|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block layout_footer2_navigation_clock %}
                    <div class="col-md-4 second-footer-column-social text-center">
                        <div class="row">
                            <div class="footer-details">
                                <p>{{ "general.footer.followUs.title"|trans }}</p>
                                <a href="{{ "general.footer.followUs.facebookUrl"|trans }}">
                                    <img src="{{ asset('bundles/kohlkramer2022/footerImages/facebook.png', 'asset') }}">
                                </a>
                                <a href="{{ "general.footer.followUs.linkdInUrl"|trans }}">
                                    <img src="{{ asset('bundles/kohlkramer2022/footerImages/Linkedin.png', 'asset') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    {% block layout_footer_bottom %}
        <div class="footer-bottom">
            {% block layout_footer_service_menu %}
                <div class="container">
                    {% block layout_footer_service_menu_content %}
                        {% apply spaceless %}
                            <ul class="footer-service-menu-list list-unstyled">
                                {% for serviceMenuItem in page.header.serviceMenu %}
                                    {% block layout_footer_service_menu_item %}
                                        <li class="footer-service-menu-item">
                                            <a class="footer-service-menu-link"
                                               href="{{ category_url(serviceMenuItem) }}"
                                               {% if category_linknewtab(serviceMenuItem) %}target="_blank"{% endif %}
                                               title="{{ serviceMenuItem.translated.name }}">
                                                {{ serviceMenuItem.translated.name }}
                                            </a>
                                        </li>
                                    {% endblock %}
                                {% endfor %}
                            </ul>
                        {% endapply %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block layout_footer_copyright %}
                <div id="secondFooterColumns"
                     class="row justify-content-md-center second-footer-columns footer-bottom-line"
                     data-collapse-footer="true"
                     role="list">
                </div>
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}


