{% block cms_home_page_slider %}

    {% block cms_home_page_slider_container %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 heroSlider-fixed" data-static-slider>
                    {% block cms_home_page_slider_left_icon %}
                        <div class="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                                <?xml version="1.0" encoding="utf-8"?>
                                <svg width="52px" height="100px" viewBox="0 0 52 100" version="1.1"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                  <desc>Created with Lunacy</desc>
                                  <g id="Arrow-Copy" transform="matrix(-1 -8.742278E-08 8.742278E-08 -1 52 100)">
                                    <g id="Group-4">
                                      <path
                                          d="M0.499 0L69.501 0Q69.5501 0 69.5983 0.00958814Q69.6465 0.0191763 69.6919 0.0379841Q69.7374 0.0567919 69.7782 0.0840967Q69.8191 0.111401 69.8538 0.146154Q69.8886 0.180906 69.9159 0.22177Q69.9432 0.262635 69.962 0.308041Q69.9808 0.353447 69.9904 0.40165Q70 0.449853 70 0.499L70 0.501Q70 0.550147 69.9904 0.59835Q69.9808 0.646553 69.962 0.691959Q69.9432 0.737365 69.9159 0.778229Q69.8886 0.819094 69.8538 0.853846Q69.8191 0.888599 69.7782 0.915903Q69.7374 0.943208 69.6919 0.962016Q69.6465 0.980824 69.5983 0.990412Q69.5501 1 69.501 1L0.499 1Q0.449853 1 0.40165 0.990412Q0.353447 0.980824 0.308041 0.962016Q0.262635 0.943208 0.22177 0.915903Q0.180906 0.888599 0.146154 0.853846Q0.111401 0.819094 0.0840967 0.778229Q0.0567919 0.737365 0.0379841 0.691959Q0.0191763 0.646553 0.00958814 0.59835Q0 0.550147 0 0.501L0 0.499Q0 0.449853 0.00958814 0.40165Q0.0191763 0.353447 0.0379841 0.308041Q0.0567919 0.262635 0.0840967 0.22177Q0.111401 0.180906 0.146154 0.146154Q0.180906 0.111401 0.22177 0.0840967Q0.262635 0.0567919 0.308041 0.0379841Q0.353447 0.0191763 0.40165 0.00958814Q0.449853 0 0.499 0Z"
                                          transform="matrix(0.70710677 0.70710677 -0.70710677 0.70710677 1.6048164 0.3977089)" id="Rectangle"
                                          fill="#000000" stroke="none"/>
                                      <path
                                          d="M0.499 0L69.501 0Q69.5501 0 69.5983 0.00958814Q69.6465 0.0191763 69.6919 0.0379841Q69.7374 0.0567919 69.7782 0.0840967Q69.8191 0.111401 69.8538 0.146154Q69.8886 0.180906 69.9159 0.22177Q69.9432 0.262635 69.962 0.308041Q69.9808 0.353447 69.9904 0.40165Q70 0.449853 70 0.499L70 0.501Q70 0.550147 69.9904 0.59835Q69.9808 0.646553 69.962 0.691959Q69.9432 0.737365 69.9159 0.778229Q69.8886 0.819094 69.8538 0.853846Q69.8191 0.888599 69.7782 0.915903Q69.7374 0.943208 69.6919 0.962016Q69.6465 0.980824 69.5983 0.990412Q69.5501 1 69.501 1L0.499 1Q0.449853 1 0.40165 0.990412Q0.353447 0.980824 0.308041 0.962016Q0.262635 0.943208 0.22177 0.915903Q0.180906 0.888599 0.146154 0.853846Q0.111401 0.819094 0.0840967 0.778229Q0.0567919 0.737365 0.0379841 0.691959Q0.0191763 0.646553 0.00958814 0.59835Q0 0.550147 0 0.501L0 0.499Q0 0.449853 0.00958814 0.40165Q0.0191763 0.353447 0.0379841 0.308041Q0.0567919 0.262635 0.0840967 0.22177Q0.111401 0.180906 0.146154 0.146154Q0.180906 0.111401 0.22177 0.0840967Q0.262635 0.0567919 0.308041 0.0379841Q0.353447 0.0191763 0.40165 0.00958814Q0.449853 0 0.499 0Z"
                                          transform="matrix(0.70710677 -0.70710677 0.70710677 0.70710677 0.8977089 98.89519)" id="Rectangle-Copy-2"
                                          fill="#000000" stroke="none"/>
                                    </g>
                                  </g>
                                </svg>
                            </span>
                        </div>
                    {% endblock %}
                    {% block cms_home_page_slider_image %}

                        <div class="slider responsive">
                            {% for key,sliders in results.entities.elements %}
                                {% set sliderImages = searchMedia([sliders.mediaId], context.context) %}
                                {% set sliderImage = sliderImages.get(sliders.mediaId) %}

                                <div>



                                    <div class="row">
                                        {% if sliderImage.url %}
                                        <div class="col-sm-12 col-md-6">
                                            <img src="{{ sliderImage.url }}"/>
                                        </div>
                                        {% endif %}
                                        <div class="col-sm-12 col-md-6">
                                            <div class="heroslider-content">
                                            {% if sliders.translated.title %}
                                                <div class="row"><h2>{{ sliders.translated.title | raw }}</h2></div>
                                            {% endif %}
                                            {% if sliders.translated.description %}
                                                <p>{{ sliders.translated.description | raw }}</p>
                                            {% endif %}
                                            <a href="{{ sliders.translated.link }}">
                                                {% if sliders.translated.linkText and sliders.translated.link %}
                                                    {{ sliders.translated.linkText }}
                                                {% endif %}
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endblock %}



                    {% block cms_home_page_slider_right_icon %}
                        <div class="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                           <?xml version="1.0" encoding="utf-8"?>
                                <svg width="52px" height="100px" viewBox="0 0 52 100" version="1.1"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                      <desc>Created with Lunacy</desc>
                                      <g id="Arrow">
                                        <g id="Group-4">
                                          <path
                                              d="M0.499 0L69.501 0Q69.5501 0 69.5983 0.00958814Q69.6465 0.0191763 69.6919 0.0379841Q69.7374 0.0567919 69.7782 0.0840967Q69.8191 0.111401 69.8538 0.146154Q69.8886 0.180906 69.9159 0.22177Q69.9432 0.262635 69.962 0.308041Q69.9808 0.353447 69.9904 0.40165Q70 0.449853 70 0.499L70 0.501Q70 0.550147 69.9904 0.59835Q69.9808 0.646553 69.962 0.691959Q69.9432 0.737365 69.9159 0.778229Q69.8886 0.819094 69.8538 0.853846Q69.8191 0.888599 69.7782 0.915903Q69.7374 0.943208 69.6919 0.962016Q69.6465 0.980824 69.5983 0.990412Q69.5501 1 69.501 1L0.499 1Q0.449853 1 0.40165 0.990412Q0.353447 0.980824 0.308041 0.962016Q0.262635 0.943208 0.22177 0.915903Q0.180906 0.888599 0.146154 0.853846Q0.111401 0.819094 0.0840967 0.778229Q0.0567919 0.737365 0.0379841 0.691959Q0.0191763 0.646553 0.00958814 0.59835Q0 0.550147 0 0.501L0 0.499Q0 0.449853 0.00958814 0.40165Q0.0191763 0.353447 0.0379841 0.308041Q0.0567919 0.262635 0.0840967 0.22177Q0.111401 0.180906 0.146154 0.146154Q0.180906 0.111401 0.22177 0.0840967Q0.262635 0.0567919 0.308041 0.0379841Q0.353447 0.0191763 0.40165 0.00958814Q0.449853 0 0.499 0Z"
                                              transform="matrix(0.70710677 0.70710677 -0.70710677 0.70710677 1.6048164 0.3977089)"
                                              id="Rectangle"
                                              fill="#000000" stroke="none"/>
                                          <path
                                              d="M0.499 0L69.501 0Q69.5501 0 69.5983 0.00958814Q69.6465 0.0191763 69.6919 0.0379841Q69.7374 0.0567919 69.7782 0.0840967Q69.8191 0.111401 69.8538 0.146154Q69.8886 0.180906 69.9159 0.22177Q69.9432 0.262635 69.962 0.308041Q69.9808 0.353447 69.9904 0.40165Q70 0.449853 70 0.499L70 0.501Q70 0.550147 69.9904 0.59835Q69.9808 0.646553 69.962 0.691959Q69.9432 0.737365 69.9159 0.778229Q69.8886 0.819094 69.8538 0.853846Q69.8191 0.888599 69.7782 0.915903Q69.7374 0.943208 69.6919 0.962016Q69.6465 0.980824 69.5983 0.990412Q69.5501 1 69.501 1L0.499 1Q0.449853 1 0.40165 0.990412Q0.353447 0.980824 0.308041 0.962016Q0.262635 0.943208 0.22177 0.915903Q0.180906 0.888599 0.146154 0.853846Q0.111401 0.819094 0.0840967 0.778229Q0.0567919 0.737365 0.0379841 0.691959Q0.0191763 0.646553 0.00958814 0.59835Q0 0.550147 0 0.501L0 0.499Q0 0.449853 0.00958814 0.40165Q0.0191763 0.353447 0.0379841 0.308041Q0.0567919 0.262635 0.0840967 0.22177Q0.111401 0.180906 0.146154 0.146154Q0.180906 0.111401 0.22177 0.0840967Q0.262635 0.0567919 0.308041 0.0379841Q0.353447 0.0191763 0.40165 0.00958814Q0.449853 0 0.499 0Z"
                                              transform="matrix(0.70710677 -0.70710677 0.70710677 0.70710677 0.8977089 98.89519)"
                                              id="Rectangle-Copy-2"
                                              fill="#000000" stroke="none"/>
                                        </g>
                                      </g>
                                    </svg>
                            </span>
                        </div>
                    {% endblock %}

                </div>
            </div>
        </div>
    {% endblock %}

    {% block cms_home_page_slider_internal_js %}
        <script>
            $('.responsive').slick({
                dots: false,
                prevArrow: $('.prev'),
                nextArrow: $('.next'),
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1

                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });

        </script>
    {% endblock %}
{% endblock %}
